<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="bonuses" class="card">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3 th:text="#{label.Bonuses}">
                Bonuses
            </h3>
        </div>
        <div class="card-body">
            <div th:each="bonus : ${bonuses.getContent()}" class="card">
                <div class="card-body">
                    <h5 th:text="${bonus.getOrgName()}" class="card-title">Organization 4</h5>
                    <p class="card-text" th:text="${bonus.getOrgBonusType()}">Welcome</p>
                    <p class="card-text" th:text="#{label.days} +' '+ ${bonus.getValidity()}"></p>
                    <button th:text="#{label.more}" th:id="${bonus.id}" class="btn btn-block"
                            style="background-color: #F0047F;color: white">info</button>
                    <img style="position: absolute;top:30px;right: 20px;" th:src="${bonus.getImage()}" width="64"
                         height="64" alt="default">
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li th:if="not${bonuses.getFirst()}" class="page-item">
                        <a class="page-link"
                           th:href="@{/bonus/list(page=${bonuses.getNumber()-1})}"
                           tabindex="-1"><</a>
                    </li>
                    <th:block
                            th:each="i: ${#numbers.sequence(0, bonuses.getTotalPages() - 1)}">
                        <li class="page-item active" th:if="${bonuses.getNumber() == i}">
                            <span class="page-link">[[${i}+1]]</span>
                        </li>
                        <li th:unless="${bonuses.getNumber() == i}">
                            <a class="page-link"
                               th:href="@{/bonus/list(page=${i})}">[[${i}+1]]</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:if="not${bonuses.getLast()}">
                        <a class="page-link"
                           th:href="@{/bonus/list(page=${bonuses.getNumber()+1})}">></a>
                    </li>
                </ul>
            </nav>
            <div  th:id="${bonus.id}+'bonuses'"  th:each="bonus : ${bonuses.getContent()}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img th:src="${bonus.getImage()}" width="64"
                                 height="64" alt="default">
                            <h5 style="position: absolute;left: 100px;top:0;font-size: 2em" class="modal-title" th:text="${bonus.getOrgName()}">Modal title</h5>
                            <h5 style="position: absolute;left: 101px;top:40px;font-family: 'Fira Sans', sans-serif" th:text="${bonus.getOrgDesc()}" >Modal title</h5>
                        </div>
                        <div class="modal-body">
                            <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1.3em;" th:text="${bonus.getDesc()}" >Modal title</h5>
                            <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1em;"  th:text="#{label.modal.from} + ' ' +  ${#dates.format(bonus.validFrom,'dd-MMM-yyyy')}" >Modal title</h5>
                            <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1em;"  th:text="#{label.modal.to} + ' ' +  ${#dates.format(bonus.validTo,'dd-MMM-yyyy')}" >Modal title</h5>
                        </div>
                        <div class="modal-footer">
<!--                            <button type="button" th:text="#{label.modal.close}" class="btn btn-primary" data-dismiss="modal">Close</button>-->
                            <a type="button" th:href="@{'/info/' + ${bonus.getOrgId()}}" th:text="#{label.modal.toOrg}" class="btn btn-secondary">Save changes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".btn-block").click(function () {
            var idcheck = $(this).attr('id');
            var window = '#'+idcheck+'bonuses';
            $(window).modal('show');
        });
    </script>
</div>
</body>
</html>