<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="events">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-3">
                    <h3 th:text="#{label.Events}"class="card-title">Events</h3>
                </div>
                <div class="col-lg-2 ml-auto">
                    <ul class="pagination">
                        <li th:if="not${events.getFirst()}" class="page-item">
                            <a class="page-link"
                               th:href="@{/event/list(page=${events.getNumber()-1})}"
                               tabindex="-1"><</a>
                        </li>
                        <th:block
                                th:each="i: ${#numbers.sequence(0, events.getTotalPages() - 1)}">
                            <li class="page-item active" th:if="${events.getNumber() == i}">
                                <span class="page-link">[[${i}+1]]</span>
                            </li>
                            <li th:unless="${events.getNumber() == i}">
                                <a class="page-link"
                                   th:href="@{/event/list(page=${i})}">[[${i}+1]]</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:if="not${events.getLast()}">
                            <a class="page-link"
                               th:href="@{/event/list(page=${events.getNumber()+1})}">></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body" style="position: relative">
            <div class="row d-flex justify-content-center">
                <div th:each="event : ${events.getContent()}" class="col-lg-6 d-flex justify-content-center">
                    <div class="card bg-light" style="max-width: 500px; max-height: 300px;border-radius: 10px;">
                        <div class="img-container">
                            <img th:src="${event.getImage()}" class="card-img-top" width="500px" height="300px"
                                 style="border-radius: 10px;" alt="events">
                            <div class="img-overlay" style="border-radius: 10px;">
                                <div class="info-fluid">
                                    <div class="jumbotron-spec jumbotron-spec-fluid">
                                        <div class="container">
                                            <h5 th:text="${event.getName()}" class="display-10">Events Name</h5>
                                            <p th:text="${event.getDescription()}">Events DESCRIPTION</p>
                                            <hr class="my-4">
                                            <a href="#" th:text="#{label.more}" class="btn btn-outline-secondary"
                                               style="position: absolute;top:10px;right: 10px;">info</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
