<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="events">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-3">
                    <h3 th:text="#{label.Events}" class="card-title">Events</h3>
                </div>
<!--                <div class="col-lg-2 ml-auto">-->
<!--                    <ul class="pagination">-->
<!--                        <li th:if="not${events.getFirst()}" class="page-item">-->
<!--                            <a class="page-link"-->
<!--                               th:href="@{/event/list(page=${events.getNumber()-1})}"-->
<!--                               tabindex="-1"><</a>-->
<!--                        </li>-->
<!--                        <th:block-->
<!--                                th:each="i: ${#numbers.sequence(0, events.getTotalPages() - 1)}">-->
<!--                            <li class="page-item active" th:if="${events.getNumber() == i}">-->
<!--                                <span class="page-link">[[${i}+1]]</span>-->
<!--                            </li>-->
<!--                            <li th:unless="${events.getNumber() == i}">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{/event/list(page=${i})}">[[${i}+1]]</a>-->
<!--                            </li>-->
<!--                        </th:block>-->
<!--                        <li class="page-item" th:if="not${events.getLast()}">-->
<!--                            <a class="page-link"-->
<!--                               th:href="@{/event/list(page=${events.getNumber()+1})}">></a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>
        <div class="card-body" style="position: relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 d-flex justify-content-center">
                    <div id="carouselEvents" class="carousel slide container" style="width: 5000px;">
                        <div class="carousel-inner">
                            <div class="carousel-item active" style="overflow: auto">
                                <button style="background-color: white ; padding: 0 0 0 0;   " class = "btn" href = "#" th:id="${events[0].id}">
                                <img th:id="${events[0].id}"  class="img-responsive center-block"  th:src="${events[0].image}">
                                </button>
                            </div>
                            <div class="carousel-item" th:each="event,iterStat : ${events}" th:if="${iterStat.index} != 0">
                                    <button style="background-color: white;  padding: 0 0 0 0;  " class = "btn" href = "#" th:id="${event.id}">
                                        <img  th:id="${event.id}" style="position: relative;" width="auto" height="auto" th:src="${event.image}" alt="@{${photo.fileName}}">
                                    </button>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselEvents" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselEvents" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


<!--                    <div class="img-container">-->
<!--                        <img th:src="${event.getImage()}" class="card-img-top" width="500px" height="300px"-->
<!--                             style="border-radius: 10px;" alt="events">-->
<!--                        <div class="img-overlay" style="border-radius: 10px;">-->
<!--                            <div class="info-fluid">-->
<!--                                <div class="jumbotron-spec jumbotron-spec-fluid">-->
<!--                                    <div class="container">-->
<!--                                        <h5 th:text="${event.getName()}" class="display-10">Events Name</h5>-->
<!--                                        <p th:text="${event.getDescription()}">Events DESCRIPTION</p>-->
<!--                                        <hr class="my-4">-->
<!--                                        <button th:text="#{label.more}" th:id="${event.id}" class="btn btn-outline-secondary"-->
<!--                                                style="position: absolute;top:10px;right: 10px;">info</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
            </div>
                <div  th:id="${event.id}+'events'"  th:each="event : ${events}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <img th:src="${event.getOrgImage()}" width="64"
                                     height="64" alt="default">
                                <h5 th:text="${event.getOrgName()}" style="position: absolute;left: 100px;top:0;font-size: 2em" class="modal-title" >Modal title</h5>
                                <h5 th:text="${event.getOrgDesc()}" style="position: absolute;left: 101px;top:40px;font-family: 'Fira Sans', sans-serif"  >Modal title</h5>
                            </div>
                                <div class="modal-body">
                                    <img th:src="${event.getImage()}" width="450"
                                         height="250" alt="default">
                                    <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1.3em;" th:text="${event.getName()}" >Modal title</h5>
                                    <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1.3em;" th:text="${event.getDescription()}" >Modal title</h5>
                                    <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1em;"  th:text=  "#{label.modal.from} + ' ' +  ${#dates.format(event.dateFrom,'dd-MMM-yyyy')}" >Modal title</h5>
                                    <h5 style="font-family: 'Fira Sans', sans-serif;font-size: 1em;"  th:text="#{label.modal.to} + ' ' +  ${#dates.format(event.dateTo,'dd-MMM-yyyy')}" >Modal title</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" th:text="#{label.modal.close}" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    <a type="button" th:href="@{'/info/' + ${event.getOrgId()}}" th:text="#{label.modal.toOrg}" class="btn btn-secondary">Save changes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    <script>
        $(".btn").click(function () {
            var idcheck = $(this).attr('id');
            var window = '#'+idcheck+'events';
            console.log(window);
            $(window).modal('show');
        });
    </script>
    </div>
</body>
</html>
