<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}"
        xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/libs/css/notificationStyle.css">
    <title data-th-text="#{label.ChangePassword}" ></title>
</head>
<body>

<section layout:fragment="content">

    <div class="card-group flex-column align-items-center">
        <div class="card" style="margin: 100px; margin-bottom: 50px; margin-top: 50px; border-radius: 10px 10px;">
            <div class="card-body text-center">

                <label class="text-center">Current Password</label>
                <div class="form-group pass_show">
                    <input type="password"  class="form-control" placeholder="Current Password" >
                </div>

                <label>New Password</label>
                <div class="form-group pass_show">
                    <input type="password"  class="form-control" placeholder="New Password">
                </div>

                <label>Confirm Password</label>
                <div class="form-group pass_show">
                    <input type="password"  class="form-control" placeholder="Confirm Password">
                </div>
                <a href="#" class="btn btn-primary" th:href="@{/changePassword}"><strong data-th-text="#{label.ChangePassword}"></strong></a>
            </div>
        </div>
    </div>

</section>
</body>
</html>a