<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <title>Organizations category list</title>
</head>
<body>
<section layout:fragment="content" class="my-3 p-3 bg-white rounded shadow-sm" th:each="key : ${categoryOrganizationList.keySet()}">
    <h6 class="border-bottom border-gray pb-2 mb-0" th:text="${key}">CategoryName</h6>
    <div class="grid-container">
        <div class="row" th:each="org : ${categoryOrganizationList.get(key)}">
            <div class="col-md-auto">
                <img src="assets/img/organizationDefault.png" alt="organizationDefault" width="64" height="64">
                <!--                     th:src="${org.getImageUrl()}">-->
            </div>
            <div class="col">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark" th:text="${org.getName()}">OrganizationName</strong>
                </div>
                <p class="d-block" th:text="${org.getDescription()}">description</p>
<!--                <span class="d-block" th:text="${org.getAmountOfBonus()}">amount of bonus</span>-->
            </div>
            <div class="col-md-auto">
                <a th:href="@{'/orgInfo/'+${org.getId()}}">Info</a>
            </div>
        </div>
    </div>
    <small class="d-block text-right mt-3">
<!--        <a th:href="@{'/organizationByCategoryId/'+${categoryOrganizationList.get(0).getCategoryId()}}">All suggestions</a>-->
    </small>
</section>
</body>
</html>

