<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-th-text="#{label.home.title}"></title>
</head>

<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-3">
            <div th:replace="~{fragments/bonuses.html :: bonuses}"></div>
        </div>
        <div class="col-lg-9">
            <div th:replace="~{fragments/events.html :: events}"></div>
            <section id="search-section">
                <div th:replace="~{fragments/orgs.html :: orgs}"></div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
