<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <title>Organizations Info</title>
</head>
<body>
<div layout:fragment="content" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container">
        <h1 class="lead-3" th:text="${organizationInfo.getName()}">Default organization Name</h1>
        <div class="row">
            <div class="col-sm-auto">
                <img src="/assets/img/organizationDefault.png" alt="Organization Image" width="256" height="256"
                     class="img-thumbnail">
                <!--th:src="${org.imageUrl}">-->
            </div>
            <div class= "col-sm">
                <p class="lead" th:text="|Category: ${organizationInfo.getCategoryName()}|">This is a default description.</p>
            </div>
            <div class="col-sm">
                <div class="col-md-auto">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <ul class="list-group list-group-flush" th:each="filial : ${organizationInfo.getFilialShortModels()}">
                            <li class="list-group-item">
                                <p class="mb-1" th:text="${filial.getName()}">Default name</p>
                                <span class="badge badge-primary badge-pill" th:text="${filial.getAverageRate()}">0</span>
                                <p class="mb-1" th:text="${filial.getAddress()}">Default address</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <p class="lead" th:text="${organizationInfo.getDescription()}">This is a default description.</p>
        </div>
        <div class="content-container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Bonuses</h5>
                        <div th:each="bonus : ${organizationInfo.getBonusShortModels()}">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${bonus.getOrgBonusType()}">Bonus Type</h5>
                                        <p class="card-text"
                                           th:text="|${bonus.getValidFrom()} - ${bonus.getValidTo()}|"></p>
                                        <p class="card-text" th:text="|Remained: ${bonus.getValidity()}|"></p>
<!--                                        <a th:href="@{'/bonusInfo/'+${bonus.getId()}}" class="btn btn-primary">Info</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">Events</h5>
                        <div th:each="event : ${organizationInfo.getEventModels()}">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${event.getDescription()}">Bonus Type</h5>
                                        <p class="card-text"
                                           th:text="|${event.getDateFrom()} - ${event.getDateTo()}|"></p>
<!--                                        <a th:href="@{'/eventInfo/'+${event.getId()}}" class="btn btn-primary">Info</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

