<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-th-text="#{label.profile.title}"></title>
</head>

<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <h3 class="card-header" data-th-text="#{label.profile.title}">Profile</h3>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-7" style="margin: 2%">
                            <img th:src="${client.getImage()}" style="max-width: 200px;border-radius: 50%;"
                                 alt="profile">
                            <p class="card-text">
                                <small th:text="#{label.registration_date} + ' ' +  ${#dates.format(client.createdDate,'dd MMMMMMMM yyyy')}"
                                       class="text-muted">created date</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/profile}" th:object="${client}" method="post">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label th:text="#{label.client.name}" for="name"
                                               class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name"
                                                   th:placeholder="${client.getFirstName()}" th:field="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label th:text="#{label.client.surname}" for="surname"
                                               class="col-sm-3 col-form-label">Surname</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="surname"
                                                   th:placeholder="${client.getLastName()}" th:field="*{lastName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label th:text="#{label.client.patronymic}" for="patronymic"
                                               class="col-sm-3 col-form-label">Patronymic</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="patronymic"
                                                   th:placeholder="${client.getPatronymic()}" th:field="*{patronymic}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label th:text="#{label.client.nationality}" for="nationality"
                                               class="col-sm-3 col-form-label">Nationality</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="nationality"
                                                   th:placeholder="${client.getNationality()}"
                                                   th:field="*{nationality}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-group mb-3">
                                                <label th:text="#{label.client.language}"
                                                       class="col-sm-3 col-form-label" for="lang">Language</label>
                                                <div class="col-sm-3">
                                                    <select class="custom-select" id="lang"
                                                            th:field="*{locale}">
                                                        <option th:value="'EN'"
                                                                th:selected="${client.getLocale()=='EN'}">EN
                                                        </option>
                                                        <option th:value="'RU'"
                                                                th:selected="${client.getLocale()=='RU'}">RU
                                                        </option>
                                                        <option th:value="'KG'"
                                                                th:selected="${client.getLocale()=='KG'}">KG
                                                        </option>
                                                    </select>
                                                </div>
                                                <label th:text="#{label.client.gender}" class="col-sm-3 col-form-label"
                                                       for="lang">Gender</label>
                                                <div class="col-sm-3">
                                                    <select class="custom-select" id="sex"
                                                            th:field="*{clientSex}">
                                                        <option th:value="'MALE'"
                                                                th:selected="${client.getClientSex()=='Male'}">Male
                                                        </option>
                                                        <option th:value="'FEMALE'"
                                                                th:selected="${client.getClientSex()=='Female'}">Female
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-secondary"
                                        style="position: absolute;top: 100%;right: 2%;">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">

            <section id="search-section">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a th:text="#{label.settings.devices}" class="nav-link active" id="devices-tab"
                                   data-toggle="tab" href="#devices"
                                   role="tab" aria-controls="devices" aria-selected="true">Devices</a>
                            </li>
                            <li class="nav-item">
                                <a th:text="#{label.settings.settings}" class="nav-link" id="settings-tab"
                                   data-toggle="tab" href="#settings"
                                   role="tab"
                                   aria-controls="settings" aria-selected="false">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a th:text="#{label.settings.preferences}" class="nav-link" id="preferences-tab"
                                   data-toggle="tab" href="#preferences"
                                   role="tab" aria-controls="preferences" aria-selected="false">Preferences</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="devices" role="tabpanel"
                                 aria-labelledby="devices-tab" style="min-height: 300px">
                                <div class="row-fluid">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 th:text="#{label.settings.currentDevice}">Current Device</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="form-group">
                                                        <div class="form-group row">
                                                            <div class="col-lg-5">
                                                                <label th:text="#{label.settings.phoneNumber}"
                                                                       for="phone" class="col-sm-12 col-for m-label">Phone
                                                                    number</label>
                                                                <small  th:text="#{label.password.format}" class="col-sm-12">Format: xxx-xxx-xxx</small>
                                                            </div>
                                                            <form th:action="@{/profile/phone}" th:object="${phone}"
                                                                  method="post" class="col-sm-7">
                                                                <div class="input-group mb-3" >
<div class="d-flex">
                                                                    <input type="text" class="form-control d-flex"
                                                                           id="phone" th:field="*{phoneNumber}"
                                                                           th:placeholder="${profile.getPhoneNumber()}"
                                                                           pattern="\d{3}[\-]\d{3}[\-]\d{3}" required>
                                                                    <div class="input-group-append">
                                                                    </div>
                                                                </div>
                                                                <button th:text="#{label.settings.save}" class="btn btn-outline-secondary"
                                                                         type="submit" id="button-addon2">
                                                                    Save
                                                                </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-lg-5">
                                                                <label for="password"
                                                                       th:text="#{label.settings.password}"
                                                                       class="col-sm-5 col-form-label">Password</label>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <button type="button"
                                                                        th:text="#{label.settings.changePassword}"
                                                                        class="btn btn-outline-secondary btn-lg btn-block"
                                                                        id="password" data-toggle="modal"
                                                                        data-target="#passwordChange">Change
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 ml-auto"
                                                     style="position: absolute;top: 80%;right: 0%;display: grid;">
                                                    <a th:text="#{label.settings.addDevice}"
                                                       class="btn btn-outline-secondary" href="#" role="button"
                                                       data-toggle="modal"
                                                       data-target="#addNewDevice">>Add new
                                                        device</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="settings" role="tabpanel"
                                 aria-labelledby="settings-tab" style="min-height: 300px">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <div class="form-check d-flex">
                                                            <!--                                                            <input type="checkbox" class="form-check-input"-->
                                                            <!--                                                                   id="notification">-->
                                                            <h3 th:text="#{label.settings.notifications}"
                                                                class="form-check-label"
                                                                style="margin: 0px 15px 15px 0px;" for="notification">
                                                                Notifications</h3>
                                                            <div class="switch-button switch-button-xs">
                                                                <input type="checkbox" name="status"
                                                                       id="notification"><span>
                                                                <label for="notification"></label></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 ml-auto">
                                                        <form>
                                                            <div class="form-row align-items-center">
                                                                <div class="col-auto my-1">

                                                                    <select class="custom-select mr-sm-2"
                                                                            id="inlineFormCustomSelect">
                                                                        <option value="1">org One</option>
                                                                        <option value="2">org Two</option>
                                                                        <option value="3">org Three</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-auto my-1">
                                                                    <button th:text="#{label.settings.addNotification}"
                                                                            type="submit"
                                                                            class="btn btn-outline-secondary">Add
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <h4 th:text="#{label.settings.ignoreList}">Ignore list</h4>
                                                </div>
                                                <div>
                                                    <div class="btn-group" role="group" aria-label="Basic example"
                                                         style="margin: 2% 2%;">
                                                        <button type="button" class="btn  disabled">org
                                                            name
                                                        </button>
                                                        <button type="button" class="btn ">X</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="preferences" role="tabpanel"
                                 aria-labelledby="preferences-tab" style="min-height: 300px">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 th:text="#{label.settings.tags}">Tags</h3>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn ">
                                            product name
                                            <span class="badge badge-light">9</span>
                                        </button>
                                        <button type="button" class="btn ">
                                            product name
                                            <span class="badge badge-light">9</span>
                                        </button>
                                        <button type="button" class="btn ">
                                            product name
                                            <span class="badge badge-light">9</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="passwordChange" tabindex="-1" role="dialog"
         aria-labelledby="passwordChangeTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h2 th:text="#{label.password.change}" class="modal-title" id="passwordChangeTitle">Change password</h2>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/profile/password}" th:object="${device}" method="post">
                                <div class="form-group">
                                    <label th:text="#{label.password.current}" for="current">Current Password</label>
                                    <input  type="password" class="form-control" id="current"
                                           th:field="*{currentPassword}" required>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{label.password.new}" for="new">New Password</label>
                                    <input type="password" class="form-control" id="new"
                                           th:field="*{newPassword}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                           onkeyup="validate_confirm()" required><span
                                        class="form-text small text-muted" th:text="#{label.password.info}">The password must be 6-16 characters. Contains at least one number, capital and lowercase letter.</span>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{label.password.verify}" for="confirm">Verify</label>
                                    <input type="password" class="form-control" id="confirm"
                                           th:field="*{confirmPassword}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                           onkeyup="validate_confirm()" required> <span
                                        class="form-text small text-muted" th:text="#{label.password.info2}">To confirm, type the new password again.</span>
                                </div>
                                <button id="submit" type="submit"
                                        class="btn btn-outline-secondary btn-lg float-right" th:text="#{label.settings.save}" >Save
                                </button>
                                <script>
                                    function validate_confirm() {
                                        document.getElementById('submit').disabled = document.getElementById("confirm").value !== document.getElementById("new").value;
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addNewDevice" tabindex="-1" role="dialog"
         aria-labelledby="addNewTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h2  th:text="#{label.settings.addDevice}" class="modal-title" id="addNewTitle">Add new device</h2>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/profile/create}" th:object="${user}" method="post">
                                <div class="form-group">
                                    <label th:text="#{label.settings.phoneNumber}" for="phone" >Phone number</label>
                                    <input type="text" class="form-control" id="phone"
                                           th:field="*{username}" pattern="\d{3}[\-]\d{3}[\-]\d{3}" required> <span
                                        class="form-text small text-muted"  th:text="#{label.password.format}" >Format: xxx-xxx-xxx</span>
                                </div>
                                <div class="form-group">
                                    <label  th:text="#{label.password.new}" for="new">New Password</label>
                                    <input type="password" class="form-control" id="new"
                                           th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                           onkeyup="validate_add()" required><span class="form-text small text-muted"  th:text="#{label.password.info}">The password must be 6-16 characters. Contains at least one number, capital and lowercase letter.</span>
                                </div>
                                <div class="form-group">
                                    <label  th:text="#{label.password.verify}" for="confirm">Verify</label>
                                    <input type="password" class="form-control" id="confirm"
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onkeyup="validate_add()"
                                           required> <span
                                        class="form-text small text-muted"  th:text="#{label.password.info2}">To confirm, type the new password again.</span>
                                </div>
                                <button id="submit" type="submit"
                                        class="btn btn-outline-secondary btn-lg float-right" th:text="#{label.password.submit}" >Submit
                                </button>
                                <script>
                                    function validate_add() {
                                        document.getElementById('submit').disabled = document.getElementById("confirm").value !== document.getElementById("new").value;
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
