<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title data-th-text="#{label.Subscribes}"></title>
</head>

<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>History</h5>
                        </div>
<!--                        <form th:action="@{/subs/history/search/}" method="get"-->
<!--                              class="form-inline my-2 my-lg-0">-->
<!--                            <div class="col-sm-4">-->
<!--                                <div class="form-group row">-->
<!--                                    &lt;!&ndash;                                <label class="text-dark font-bold" for="dateFrom">From</label>&ndash;&gt;-->
<!--                                    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">-->
<!--                                        <input type="text"-->
<!--                                               class="form-control datetimepicker-input" id="dateFrom">-->
<!--                                        &lt;!&ndash;th:value="${orgBonus.validFrom}" th:field="${orgBonus.validFrom}"&ndash;&gt;-->
<!--                                        <div class="input-group-append" data-target="#datetimepicker4"-->
<!--                                             data-toggle="datetimepicker">-->
<!--                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-4 ml-auto">-->
<!--                                <div class="form-group row">-->
<!--                                    &lt;!&ndash;                                <label class="text-dark font-bold" for="dateTo">To</label>&ndash;&gt;-->
<!--                                    <div class="input-group date" id="datetimepicker5" data-target-input="nearest">-->
<!--                                        <input type="text"-->
<!--                                               class="form-control datetimepicker-input" id="dateTo">-->
<!--                                        &lt;!&ndash;th:value="${orgBonus.validTo}" th:field="${orgBonus.validTo}"&ndash;&gt;-->
<!--                                        <div class="input-group-append" data-target="#datetimepicker5"-->
<!--                                             data-toggle="datetimepicker">-->
<!--                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-2 ml-auto">-->
<!--                                <div class="form-group row">-->
<!--                                    <button th:text="#{label.Search}" style="background: #ff407b;color: #ffffff;"-->
<!--                                            class="btn btn-outline-secondary my-2 my-sm-0"-->
<!--                                            type="submit">-->
<!--                                        Search-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Organization Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="h : ${history.getContent()}">
                            <th scope="row" th:text="${#dates.format(h.getCreatedDate(),'dd MMMMMMMM yyyy')}">Default
                                date
                            </th>
                            <td th:if="${h.getOperationType().equals('DEBIT')}" th:text="${'+ ' + h.getAmount()}"
                                style="color: green">Default Amount
                            </td>
                            <td th:if="${h.getOperationType().equals('CREDIT')}" th:text="${'- ' + h.getAmount()}"
                                style="color: red    ">Default Amount
                            </td>
                            <td th:text="${h.getOrganizationName()}">Default org name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <nav>
                        <ul class="pagination">
                            <li th:if="not${history.getFirst()}" class="page-item">
                                <a class="page-link"
                                   th:href="@{/subs/history/list/(page=${history.getNumber()-1})}"
                                   tabindex="-1"><</a>
                            </li>
                            <th:block
                                    th:each="i: ${#numbers.sequence(0, history.getTotalPages() - 1)}">
                                <li class="page-item active"
                                    th:if="${history.getNumber() == i}">
                                    <span class="page-link">[[${i}+1]]</span>
                                </li>
                                <li th:unless="${history.getNumber() == i}">
                                    <a class="page-link"
                                       th:href="@{/subs/history/list/(page=${i})}">[[${i}+1]]</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="not${history.getLast()}">
                                <a class="page-link"
                                   th:href="@{/subs/history/list/(page=${history.getNumber()+1})}">></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <h5 class="card-header">Subscriptions</h5>
                <div class="card-body">
                    <div class="card" >
                        <div th:each="orgs, key : ${orgsList}" class="card-body row"
                             th:if="not${orgs.getContent().isEmpty()}" id="key.index">
                            <div class="col-sm-12">
                                <h5 th:text="${orgs.getContent().get(0).getCategoryName()}" class="card-title"></h5>
                            </div>
                            <div class="col-sm-1">
                                <form name="subsForm">
                                    <input name="prevSubsForm__id" type="hidden"
                                         th:value="${orgs.getContent().get(0).getCategoryName()}">
                                    <input name="prevSubsForm__page" type="hidden"
                                         th:value="${orgs.getNumber()-1}">
                                    <button name="prevSubsForm__btn"
                                            class="page-link"
                                            style="height:100%;display:flex;justify-content:center;align-items:center;"
                                            type="submit"><
                                    </button>
                                </form>
                            </div>
                            <div th:each="org, key : ${orgs.getContent()}" class="col-sm-2">
                                <div th:id="${'id_' + key.index}" class="card border-light mb-3"
                                     style="height:100%;display:flex;justify-content:center;align-items:center;">
                                    <div th:text="${org.getName()}" id="name" class="card-header">Organization Name</div>
                                    <div class="card-body">
                                        <img th:src="${org.getImage()}" id="img" style="max-width:70px;" alt="organization">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <form name='nextSubsForm' th:onsubmit="'pagination(event, ' + ${orgs.getContent().get(0).getCategoryId()} + ')'">
                                    <input name='nextSubsForm__id' type="hidden"
                                         th:value="${orgs.getContent().get(0).getCategoryId()}">
                                    <input name='nextSubsForm__page' type="hidden"
                                           th:value="${orgs.getNumber()+1}">
                                    <button name='nextSubsForm__btn'
                                            class="page-link"
                                            type='submit'
                                            style="height:100%;display:flex;justify-content:center;align-items:center;">
                                        >
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/libs/js/subs.js"></script>
</div>
</body>
</html>
